<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">

 <title>{{ site.title }}</title>
    
    <link rel="canonical" href="{{ site.url }}{{ site.baseurl }}{{ page.url }}" />

    <meta name="description" content="{{ site.description }}">
    <meta name="robots" content="index,follow">
    <meta itemprop="name" content="{{ site.title }}">
    <meta name="theme-color" content="{{ site.color }}">

    <link href="{{ site.baseurl }}/assets/css/materialize.min.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/assets/css/main.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato|Oswald" rel="stylesheet">
    <style>body{background:{{ site.color }};}</style>
</head>